<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/style.css" />
		<title>EGCB Sportscenter!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/scripts/index.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
