
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
         
          <h1><a href="index.html">EGCB<span class="logo_colour">Sports Center</span></a></h1>
          <h2>If you want sports, we got the details</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <li class="selected"><a href="sportscenter.html">Home</a></li>
          <li><a href="">Live Feeds</a></li>
          <li><a href="">Scores</a></li>
          <li><a href="">Player stats</a></li>
          <li><a href="">Search</a></li>
        </ul>
      </div>
    </div>
 {{#each UserID}}
    {{> team-block}}
{{/each}}
    {{!-- <div id="content_header"></div>
    <div id="site_content">
      <div id="banner"></div>
	  <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <!-- put sidebar items here -->
            <h3>Sidebar stuff if we want</h3>
            <h4>Other stuff that we could put in</h4>
            <h5>Not sure what we would want</h5>
            <p>Im kina excited even though I'm not the best at this hopefully you guys like it a little bit atleast.   </p>
          </div>
          <div class="sidebar_base"></div>
        </div>
      </div>
      <div id="content">
        
        <h1>Welcome to our awesome website</h1>
        <p>Ideas Ideas Ideas</p>
        <h2>We can put some good stuff in here too if we want</h2>
        <p>It's gotta look semi good I think</p>
      </div>
    </div> --}}
    <div id="content_footer"></div>
    <div id="footer">
      <p>Copyright &copy; EGCB Sports Cetner
    </div>
  </div>
